@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ejemplo 1</h1>
    <p class="lead">Ejemplo de desarrollo de proyecto C# MVC para la clase de IPC 2 - CUNOR.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <label class="control-label">Nombre</label>
    <input class="form-control" />

    <label class="control-label">Apellidos</label>
    <input class="form-control" />

    <label class="control-label">Edad</label>
    <input class="form-control" />
</div>